body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-image: url("1.jpg");
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    background-color: #dedede;
    text-align: center;
}

#gallery {
    background-color: #c7c7c7;
    padding: 2rem 0;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-container img {
    margin: 1rem;
    width: calc(50% - 2rem); /* три изображения в ряд */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#trailer video {
    width: calc(80% - 2rem);
    height: auto;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
